.container{
  text-align: center;
}

body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: -20px;
  display: flex;
  justify-content: center;
  height:100%;
  width:100%;
  margin-top: 20px;
  background-color: sandybrown;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}




.square {
  background: rgb(131, 37, 37);
  border: 5px solid rgb(40, 134, 87);
  float: left;
  font-size: 54px;
  color:rosybrown ;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 5;
  text-align: center;
  width: 80px;
  ;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(26, 61, 136);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
